.overlayElement{
    width: 1349px;
    height: 3284px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: #eee;
    opacity: 0.85;
}

.lightbox{
	display:block;
	position:absolute;
	z-index: 100;
	top:20px;
	left:400px;
	background-color:#EEEEEE;
	padding:10px;
	border:2px solid #666666;
	height:auto;
	width: auto;
	
}

a {
	font-weight:bold;
	float:right;
	text-decoration:none;
	background-color:#DDDDDD;
	border:1px solid #cccccc;
	color:#555555;
}

a.next {
	float:right;
	right:20px;
	top:200px;	
	position:relative;	
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px; 
}
div.lightbox {
	display: inline-block;
}

.leftNav {
	width:200px;
	height:400px;
	position:absolute;
	float:left;
	left:0;
	vertical-align: center;
}

.rightNav {
	width:200px;
	height:400px;
	position:absolute;
	float:right;
	right:0;
	vertical-align: center;	
}

a.prev {
	float:left;
	left:20px;
	top:200px;
	position:relative;	
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px; 	
}


