.overlayElement{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: #eee;
    opacity: 0.85;
    display: none;
}

.lightbox{
    position:absolute;
    z-index: 100;	
    background-color:#EEEEEE;
    padding:10px;
    border:2px solid #666666;
    left:30%;
    top:10%;
    width:auto;
    height:auto;
}

.lightbox button {
    font-weight:bold;
    background-color:#DDDDDD;
    border:1px solid #cccccc;
    color:#555555;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.lightbox button.close {
    float:right;
}

.leftNav {
    left:0;	
    width:40%;
    height:40%;
    position:absolute;
}

.rightNav{
    width:40%;
    height:40%;
    position:absolute;
    right:0;
    vertical-align:center;
}

.next {
    float:right;
    right:20%;	 
    top:50%;
    display:none;
    position:relative;
}
.prev {
    float:left;
    left:20%;
    top:50%;
    display:none;
    position:relative;
}

.leftNav:hover .prev {
    display:block;
}

.rightNav:hover .next {
    display:block;
}

.lightbox .next:focus img {
    display:none;
}

.lightbox img:hover {
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
            
    -webkit-transform: 2s;
        -moz-transform:2s;
             transform:2s;
    
          
    -webkit-box-shadow: 5px 5px 5px #111;
            box-shadow: 5px 5px 5px #111;
    
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}