.videoPlayer {
    border : 1px solid #008000;
}

.footerDesc {
    bottom: 10px;
    right: 10px;
    position:absolute;
}

.playlsitDiv {
    float:right;
    top:0;
    margin-right: 20%;
}
.displayVideos {
    width:200px;
    position:relative;
}

.addFiles {
    clear:both;
    margin: 10px;
}
.dropFiles {
    border: 2px dashed #00000C;
    border-radius: 5px 5px 5px 5px;
    color: #0000CC;
    padding: 25px;
    text-align: center;
}
