.selectChoice .thumb {
    height: 75px;
    border: 1px solid  #000;
    margin: 10px 5px 0 0;
}

.heading {
    text-align:center;
}
.selectChoice .uploadFile {
    margin-left:20%;
}

.selectChoice {
    border-radius: 5px;
    margin-left:20%;
    width: 30%
}

.selectChoice .notes {
    border: 10px;
    padding: 10px;
}

.selectChoice .dropZone {
    border: 2px dashed #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    color: #BBBBBB;
    padding: 25px;
    text-align: center;
    margin-left:20%;
}